<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
     		/WEB-INF/spring/applicationContext.xml
     	</param-value>
  </context-param>
  <listener>
    <listener-class>
     		org.springframework.web.context.ContextLoaderListener
    	</listener-class>
  </listener>
  
  <!-- Custom -->
  <servlet>
    <servlet-name>custom</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
			/WEB-INF/spring/customContext/custom-Context.xml
			/WEB-INF/spring/customContext/memberContext.xml
			/WEB-INF/spring/customContext/reviewContext.xml					
			/WEB-INF/spring/customContext/faqContext.xml			
			/WEB-INF/spring/adminContext/newsContext.xml
			<!-- /WEB-INF/spring/customContext/moviechartContext.xml -->
			<!-- /WEB-INF/spring/customContext/ticketContext.xml -->			
			</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>custom</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <!-- Admin -->
  <servlet>
    <servlet-name>admin</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
			/WEB-INF/spring/adminContext/admin-Context.xml
			/WEB-INF/spring/adminContext/movieContext.xml
			/WEB-INF/spring/adminContext/newsContext.xml
			<!-- /WEB-INF/spring/adminContext/roomContext.xml
			/WEB-INF/spring/adminContext/moviePlayContext.xml -->
		</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>*.mdo</url-pattern>
  </servlet-mapping>
  
  
  <!-- UTF-8 -->
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <!-- Index
  <welcome-file-list>
    <welcome-file>main.jsp</welcome-file>
  </welcome-file-list>
	-->
</web-app>